<fieldset class="container">
     <legend>Product details</legend>
     <img  [src]="productImg">
     <form [formGroup]="productForm">
          <div>
               <label for="name">Name: </label>
               <input id="name" type="text" formControlName="name" />
          </div>
          <div>
               <label for="desc">Description: </label>
               <input id="desc" type="text" class="desc" formControlName="desc" />
          </div>
          <div>
               <label for="price">Price: </label>
               <input id="price" type="text" formControlName="price" />
          </div>
     </form>
     <div class="btn-container">
          <div class="btn">save</div>
     </div>
</fieldset>